* {
  margin: 0;
  padding: 0;
}

body {
  background: turquoise;
}

.logo {
  align-items: center;
  text-align: left;
}
.logoImg {
  width: 35px;
  margin: 1rem;
}

.nav {
  background-color: white;
  height: 20vw;
  max-height: 100px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
}

.nav__btn {
  height: 100%;
  width: 30%;
}

.window {
  background-color: white;
  margin: 2rem auto;

  width: 80%;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  align-items: center;
  text-align: center;
}

.avatar {
  height: 100px;
  width: 200px;
}

.listItem {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 12px;
}

.listItem:hover {
  background-color: lightgrey;
  cursor: pointer;
}
.listItem__title {
  margin-left: 2rem;
}
